page-experience-list {
  .experienceItemLabel {
    cursor: pointer;
    
  }

  .dot {
    height: 10px;
    display: inline-block;
    width: 10px;
    background-color: blue;
    border-radius: 5px;
    margin-right: 10px;
  }


}
